<!doctype html>
<html>
<head>
    <title>Głosowanie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-slider.css">
    
</head>
<body>
   <div id="wrapper">
      <% include sidebar %>
      <div id="page-content-wrapper">
             <div class="page-content inset">
             	<a id="menu-toggle" href="/" class="btn btn-default">Strona główna</a>
				<a id="menu-toggle" href="/judge/judgevoting" class="btn btn-default">Głosowanie</a>
				<a id="menu-toggle" href="/logout" class="btn btn-default">Logout</a>
              <div id="votingContainer">
				<div id="infoWindow">
                   	   <p class="lead">Informacje</p>
					   <h3 id=infoMessage>wer</h3>
               		   <h4 id=infoMessage2></h4>
               		   <h4 id=infoMessage3></h4></br>
                </div>
                <div id="fastReminder">
					<b><h3>Proszę o szybsze głosowanie, Administrator :)</h3></b>
				</div>
                <div id="Window10">
                	<div class="col-md-12">
							<p class="lead">Głosowanie 0-10</p>
						<h4><div id="horseInfoForVote"></div></h4>
					</div>
					<h3>Typ: <div id="type10"></div></h3>
                	<input id="typeSlider10" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="10"/>	
                	
					<h3>Głowa i szyja: <div id="head10">6</div></h3>
                	<input id="headSlider10" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="9"/>
                	
                	<h3>Kłoda: <div id="kloda10">6</div></h3>
                	<input id="klodaSlider10" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="8"/>
                	
                	<h3>Nogi: <div id="legs10">6</div></h3>
                	<input id="legsSlider10" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="7"/>
                	
                	<h3>Ruch: <div id="movement10">6</div></h3>
                	<input id="movementSlider10" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="6"/>

                	<button id="vote10">Głosuj</button>
                </div> 
                <div id="Window105">
                	105
                </div> 
                <div id="Window20">
                	20
                </div> 
                <div id="Window205">
                	205
                </div> 
				<div id="votingWindow">
					
						<div class="col-md-12">
							<p class="lead">Konie</p>
						</div>
						<table id="horseTable" class="display">
                           <thead>
                                <tr>
									<th>Nazwa</th><th>Dataur</th><th>Hodowca</th><th>Oceń</th>
                                </tr>                    
                           </thead>
                           <tfoot>

                           </tfoot>
                        </table>
						
						<% if (login) { %>
						  <p>Jesteś zalogowany jako: </br>
							Login : <%= user.username %></br>
							Imie : <%= user.imie %></br>
							Nazwisko : <%= user.nazwisko %></br>
							Twoje uprawnienia : <b><%= user.role %></b><br/>
							<div id="judgeID">
								Twoje ID: <input id="idJudge" value="<%= user._id %>"/>
							</div>
						<% } %>	
					</div>  
					<script src="js/jquery-1.12.3.min.js"></script> 
					<script src="js/bootstrap-slider.js"></script>
					<script src="js/jquery.dataTables.min.js"></script>
					<script src="js/socket.io.js"></script>
					<script src="js/judgevoting.js"></script>     
                </div>
          </div>
       </div>  
    </div>
</body>
</html>